{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <h1 class="lol" id="io">Привет мир</h1>
<!-- 
    <form action="{% url 'index:add' %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Создать</button>
    </form> -->

    <form action="/add/" method="post">
        {% csrf_token %}
      <div class="mb-3">
        <label class="form-label"
          >Название задачи</label
        >
        <input
          type="text"
          class="form-control"
          name="name"
          placeholder="Название задачи"
        />
        <div class="invalid-feedback">
            Пожалуйста, введите имя пользователя.
          </div>
      </div>
      <div class="mb-3">
        <label class="form-label"
          >Описание задачи</label
        >
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          name="description"
          placeholder="Описание задачи"
        ></textarea>
      </div>
      <label class="form-label">Статус задачи</label>
      <select class="form-select"  name="status" aria-label="Выбери статус задачи">
        <option selected>Выбери статус задачи</option>
        <option value="working">В работе</option>
        <option value="waiting">В Ожидании</option>
        <option value="done">Завершина</option>
      </select>
      <label class="form-label">Исполнитель</label>
      <select class="form-select" name="user_id" aria-label="Выбери исполнителя">
        <option selected>Выбери исполнителя</option>
        <option value="1">Андрей</option>
        <option value="2">Артем</option>
        <option value="3">Евгений</option>
      </select>
      <p>
        <label for="localdate">Дата и время: </label>
        <input type="datetime-local" id="localdate" class="form-control" name="time_finish"/>
    </p>

      <button type="submit">Создать</button>
    </form>

{% endblock %}



{% block javascript %}

<script src="{% static 'scriptAddTask3.js' %}"></script>

{% endblock %}
